@import 'responsive' ;

.accomandation-section{
    .carousel{
        .carousel-inner{
            .carousel-item{                
                img{
                     height: 470px;
                     width: 100%;
                     filter: brightness(60%);
                     @include mobile-view(){
                         height: 280px;
                     }
                     @include tablet-view(){
                         height: 400px;
                     }
                }
                .carousel-caption{
                    h3{
                        font-size: 1rem;
                        font-family: Play,sans-serif;
                        padding: 0 !important;     
                        margin: 0 !important; 
                        @include mobile-view(){
                             font-size: 0.8rem;
                        }          
                        @include tablet-view(){
                            font-size: 0.8rem;
                        }                       
                    }
                    p{
                        font-size: 0.9rem;
                         font-family:Teko,sans-serif;
                         letter-spacing: 0.7px; 
                         padding: 0 !important;     
                         margin: 0 !important;    
                         @include mobile-view(){
                             font-size: 0.6rem;
                        }     
                        @include tablet-view(){
                            font-size: 0.6rem;
                        }           
                    }
                }
            }
        }
    }
    div.bread-crum{        
        font-size: 0.45rem;
        background: rgba(255, 255, 255, 1);
        padding: { top: 5px !important; bottom: 5px !important};  
        @include tablet-view(500px){
            font-size: 0.5rem;
        }         

        a{             
            font-family:Play, sans-serif;
            font-weight: normal;
            text-decoration: none;            
        }
        span{
            font-size: 00.3rem;
            color: rgb(151, 153, 252);
            margin-left: 3px;
            margin-right: 3px;
        }
    }         
    div.hostels{
        background: rgb(255, 255, 255);        
        div.male-hostel,div.female-hostel{
            &>.header{
                font-size: 0.55rem;
                background: rgb(38, 42, 248);
                color: rgb(255, 255, 255);
            }
            div.image-container{
                img{
                    width: 96%;
                    height: 380px;
                    object-fit: cover;
                    @include mobile-view(500px){  height: 200px; width: 100%; }
                }
            }
            div.form-container{
                .header{
                    font-size: 0.55rem;
                    text-transform: capitalize;
                    font-family: Play,sans-serif;
                    color: rgb(38, 42, 248);
                }
                form{
                    width: 80%;
                    @include mobile-view(500px){  width: 96%; }
                    input,select{
                       font-size: 0.45rem;
                       margin-top: 9px;
                       &:focus{ 
                                box-shadow: 2px 2px 5px rgb(206, 208, 253) ,
                                            -2px -2px 5px rgb(195, 195, 250); 
                                border-color: rgb(151, 153, 252);
                            }
                    }
                    p{ 
                        font-size: 0.45rem;
                     }
                     button{
                         font-size: 0.45rem;
                         font-family: Play,sans-serif;
                         background: rgb(38, 42, 248);
                         &:focus{ box-shadow: 0 0 0 transparent; }
                         @include mobile-view(500px){  font-size: 0.5rem; }
                     }
                }
            }
        }
    }
    div.our-app{
        background: rgb(38, 42, 248);
        color: rgb(255, 255, 255);
        .header{
            font-family: Play,sans-serif;
            font-size: 0.9rem;
            font-weight: 600;
        }
        p{
            font-size: 0.5rem;
        }
        div.store{
            span{
                width: 115px;
                height: 37px;                              
                transform: translateY(-18px);                
                background: url(../Assets/store.png);
                background-size: 300px 160px;
                background-repeat: no-repeat;
                border-radius: 5px;
                transition: .2s;
                &:hover{ cursor: pointer; opacity: 0.8;}
                @include mobile-view(){
                    transform: scaleX(0.9) scaleY(0.9) translateY(-13px) ;
                }
            }
            span.play{
                background-position: -150px -32px;
            }
            span.ios{
                background-position: -34px -32px;
                width: 109px;
            }
        }
    }
    .blog{
        background: rgb(255, 255, 255);
        .header{
            background: rgb(38, 42, 248);
            color: rgb(255, 255, 255);
            font-size: 0.6rem;         
            font-family: Play,sans-serif;
        }
        div{
            div.media-object{
                img.post-img{
                   height: 100px;
                   width: 100px;
                   border-radius: 3px;
                   object-fit: cover;
                }
                div.post-body{
                    h6{
                        font-size: 0.5rem;
                        color: rgba(0, 0, 0,0.8);   
                        text-transform: capitalize;     
                        font-weight: 600;      
                        letter-spacing: 0.7px;                                    
                        i{ 
                             font-size: 0.36rem; opacity: 0.9; 
                             text-transform: lowercase;
                             span{
                                 color: rgb(0, 0, 0);
                             }
                        }
                    }
                    p{
                        font-size: 0.45rem;
                        margin-top: 5px !important;    
                        font-family: Roboto,sans-serif;        
                        @include mobile-view(){ font-size: 0.55rem; }         
                        a{
                            color: rgb(38, 42, 248);
                            text-transform: capitalize;
                            font-size: 0.4rem;
                            text-decoration: none;
                            transition: .2s;
                            &:hover{ cursor: pointer;}
                            @include mobile-view(){ font-size: 0.6rem; }
                        }
                    }
                }
            }
        }
    }
    .who-we-are{
        background: rgb(255, 255, 255);
        border-radius: 3px;
        .header{
            font-size: 0.5rem;
            font-family: Play,sans-serif;          
            color: rgba(255, 255, 255, 1);
            background: rgb(38, 42, 248);
        }
        p{
            font-size: 0.5rem;
            font-family: Roboto,sans-serif;
            @include mobile-view(){ font-size: 0.6rem; }
        }
    }
}